*{
    padding: 0%;
    margin: 0%;
}

.peca{
    width: 400px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgb(180, 175, 175);
    padding: 20px;
    background-color: azure;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.verMais{
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
}

.verMais:hover{
    background-color: rgb(29, 142, 255);
}

.grupoEquipamentos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}